.container {
  height: 100vh;
  width: 100%;
  background-color: #f2f2f2;
}

.circularProgress {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circularProgressDark {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.progressContainer {
  border-radius: 30px;
  background: #f2f2f2;
  box-shadow: inset 12px 12px 24px #d5d5d5, inset -12px -12px 24px #ffffff;
}

.progressContainerDark {
  color: white;
  border-radius: 30px;
  background: #242d3b;
  box-shadow: inset 12px 12px 24px #1d242f, inset -12px -12px 24px #2b3647;
}

.circularProgress:before {
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #f2f2f2;
  border-radius: 50%;
  box-shadow: inset 12px 12px 24px #d5d5d5, inset -12px -12px 24px #ffffff;
}
.circularProgressDark:before {
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  border-radius: 50%;
  background: #242d3b;
  box-shadow: inset 12px 12px 24px #1d242f, inset -12px -12px 24px #2b3647;
}
.valueContainer {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}
/* Navbar */

.navbar {
  width: 100%;
  color: white;
  z-index: 100;
  background-color: #7379ce;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.navlink {
  /* border: 2px solid black; */
  margin: 0px 5px;
  border-radius: 10px;
  padding: 15px 20px;
  background: #7379ce;
  box-shadow: 8px 8px 16px #656ab5, -8px -8px 16px #8188e7;
  transition: all 1s ease-in-out;
}

.navlink:hover {
  background: #7379ce;
  box-shadow: inset 8px 8px 16px #656ab5, inset -8px -8px 16px #8188e7;
}

.menu {
  padding: 15px;
  cursor: pointer;
  border-radius: 15px;
}

.menu:hover {
  background: #7379ce;
  box-shadow: inset 8px 8px 16px #656ab5, inset -8px -8px 16px #8188e7;
}
.menuLink {
  padding: 10px;
}
.navhr {
  border: 2px solid white;
}

/* Dashboard */
.wave {
  margin-top: 250px;
}
.headDiv {
  border-radius: 30px 30px 0px 0px;
  background: #6d71b6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  /* background: #ededed;
  box-shadow: 11px 11px 22px #d1d1d1, -11px -11px 22px #ffffff; */
}
.taskDiv {
  /* border-radius: 15px; */
  background: #f2f2f2;
  box-shadow: 7px 7px 14px #dfdfdf, -7px -7px 14px #ffffff;
}
.taskDivDark {
  background: #242d3b;
  box-shadow: 7px 7px 14px #1d242f, -7px -7px 14px #2b3647;
}

.deleteIcon {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 0px 10px;
}

.deleteIcon:hover {
  color: red;
}
.taskTick {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 0px 10px;
}
.taskTick:hover {
  color: rgb(29, 205, 29);
}

/* Meetings */
.mySwiperSlide {
  /* border: 2px solid green; */
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border-radius: 30px;
  background: #f1efef;
  box-shadow: 11px 11px 22px #e0dede, -11px -11px 22px #ffffff;
}

.mySwiperSlideDark {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border-radius: 30px;
  background: #242d3b;
  box-shadow: 11px 11px 22px #1d242f, -11px -11px 22px #2b3647;
}

.mySwiper {
  width: 100%;
  padding: 20px;
}

.meetingName {
  border-radius: 10px;
  background: #f1efef;
  box-shadow: inset 11px 11px 22px #e3e1e1, inset -11px -11px 22px #fffdfd;
}

.meetingNameDark {
  border-radius: 10px;
  background: #242d3b;
  box-shadow: inset 11px 11px 22px #1d242f, inset -11px -11px 22px #2b3647;
}

.deleteMeet {
  transition: all 0.3s ease-in-out;
}

.deleteMeet:hover {
  background-color: rgb(225, 47, 47);
}

.noteName {
  border-radius: 10px;
  background: #f1efef;
  box-shadow: 12px 12px 24px #e0dede, -12px -12px 24px #ffffff;
}
.noteNameDark {
  border-radius: 10px;
  background: #242d3b;
  box-shadow: 12px 12px 24px #1d242f, -12px -12px 24px #2b3647;
}

.mySwiperSlide2 {
  height: 250px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border-radius: 30px;
  background: #f1efef;
  box-shadow: 9px 9px 18px #dbd9d9, -9px -9px 18px #ffffff;
}

.mySwiperSlide2Dark {
  height: 250px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border-radius: 30px;
  background: #242d3b;
  box-shadow: 9px 9px 18px #1d242f, -9px -9px 18px #2b3647;
}
