@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}
