@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
.container {
  height: 100vh;
  width: 100%;
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}
